include ./head.jade

    .Nav
        .container
            .clearfix
                .col-sm-3
                    h1.logo Z
                .col-sm-9
                    ul.TransitionAll
                        li
                            a(href='#') Investor Relations
                        li.active
                            a(href='#') My Algorithms
                        li
                            a(href='#') Community
                        li
                            a(href='#') Support
                        li
                            a(href='#') Register
                        li
                            a(href='#') Login
    .SubNavMenu
        .container
            .row
                .col-sm-4
                    input(type='text' value='Testing Algorithm')
                .col-sm-8.floatButtonRight
                    a.btn.Primary Deploy Live
                    a.btn API Reference
                    a.btn Save
                    a.btn Build Algorithm
