@font-face {
  font-family: Whitney;
  src: url(/assets/fonts/WhitneyHTF-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: Whitney;
  src: url(/assets/fonts/WhitneyHTF-Medium.otf);
  font-weight: normal;
}

@font-face {
  font-family: Whitney;
  src: url(/assets/fonts/WhitneyHTF-SemiBold.otf);
  font-weight:600;
}

@font-face {
  font-family: Whitney;
  src: url(/assets/fonts/WhitneyHTF-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: WhitneyBook;
  src: url(/assets/fonts/WhitneyHTF-BookSC.otf);
  font-weight: normal;
}